/* ******************** small device******************* */
@media only screen and (max-width: 600px) {

    .navigationBarRoot {
        width: 100%;
        height: 100%;
        position: relative;

        z-index: 200;

    }

    .navigationBarRoot > .logoWrapper {
        width: 100%;
        height: 100%;
    }

    .navigationBarRoot > .menuWrapper {
        height: fit-content;

        width: 0%;

        top: 100%;
        left: 0px;
        overflow: hidden;

        position: absolute;

        background-color: white;
        opacity: 0.8;

        transition: width 1.5s ease-in-out;

    }


    /* *************** checked actions ************* */
    .navigationBarRoot > .ckeckbox:checked ~ .menuWrapper {
        width: 100%;
    }

    /* ***************** hidden items **************** */
    .navigationBarRoot > .ckeckbox {
        display: none;
    }

}



/* ***** large device **************************** */
@media only screen and (min-width: 600px) {

    .navigationBarRoot {
        width: 100%;
        height: 100%;

        display: flex;

    }

    .navigationBarRoot > .logoWrapper {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: auto;
    }

    .navigationBarRoot > .menuWrapper {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 600px;
    }



    /* ***************** hidden items **************** */
    .navigationBarRoot > .ckeckbox {
        display: none;
    }

}
