/* ******************** small device******************* */
@media only screen and (max-width: 600px) {
    .galleryRoot {
        width: 100%;
        height: calc(100vh - 50px );

        margin-left: 0;

        overflow: hidden;

        overflow-y: scroll;
        -ms-overflow-style: none; 
        scrollbar-width: none;

        display: flex;
        flex-direction: row;
        z-index: 100;


        /* overscroll-behavior: contain ; Prevent SCROLL-CHAINING to parent elements. */
    }

    .galleryRoot::-webkit-scrollbar {
        display: none;
    }

    .galleryRoot  .album {
        height: 100%;
        
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: auto;


        width: 100%;

        /* margin-right: 3%; */


        position: relative;
        z-index: 100;

        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .galleryRoot  .album > .imageWrapper {
        position: absolute;  
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;

        z-index: 100;
    }

    .galleryRoot  .album > .imageWrapper > img {
        height: 100%;
        width: 100%;
        object-fit: cover;

        
    }


    .galleryRoot  .album > .albumNameWrapper {
        flex-basis: 0;
        flex-grow: 6;
        flex-shrink: 0;

        width: 100%;

        z-index: inherit;

        display: grid;
        justify-items: center;
        align-items: end;
    }

    .galleryRoot  .album > .clickForMoreWrapper {
        flex-basis: 0;
        flex-grow: 4;
        flex-shrink: 0;

        width: 100%;

        z-index: inherit;

        display: grid;
        justify-items: center;

    }

    .galleryRoot  .album > .albumNameWrapper > .albumName {

        color: white;
        font-weight: bold;
        font-size: xx-large;

        margin-bottom: 20px;

    }

    .galleryRoot .album > .clickForMoreWrapper > .clickForMore {

        margin-top: 10px;

        width: 150px;
        height: 35px;

        /* color: white; */
        

        display: grid;
        align-items: center;
        justify-items: center;

        border-style: solid;
        border-width: 2px;
        border-color: white;

        color: white;
        font-size: small;

        text-decoration: none;

    }

    .galleryRoot  > .arrowForwardIconWrapper {
        position: absolute ; /* gobal document is the relative*/
        z-index: 200;

        top: 50%;
        right: 3%;
        width: 30px;
        height: 30px;

        opacity: 0.5;

        display: grid;
        align-items: center;
        justify-items: center;

        background-color: black;
    }

    .galleryRoot  > .arrowBackIconWrapper {
        position: absolute ; /* gobal document is the relative*/
        z-index: 200;

        top: 50%;
        left: 3%;
        width: 30px;
        height: 30px;

        opacity: 0.5;

        display: grid;
        align-items: center;
        justify-items: center;

        background-color: black;
    }


    /* ***************** hover actions ******************** */
    .galleryRoot .album > .clickForMoreWrapper > .clickForMore:hover {
        background-color: white;
        color: black;
    }

    .galleryRoot  .album:hover .imageWrapper > img {
        opacity: 0.8;

        filter: brightness(.6);
    }

}





/* ******************** large device******************* */
@media only screen and (min-width: 600px) {
    .galleryRoot {
        width: 94%;
        margin-top: 50px;
        margin-bottom: 2px;
        height: calc(100vh - 50px - 50px - 2px );
        margin-left: 3%;
        margin-right: 3%;


        overflow-y: hidden;

        overflow-x: scroll;
        -ms-overflow-style: none; 
        scrollbar-width: none;

        display: flex;
        flex-direction: row;
        z-index: 100;


        /* overscroll-behavior: contain ; Prevent SCROLL-CHAINING to parent elements. */
    }

    .galleryRoot::-webkit-scrollbar {
        display: none;
    }

    .galleryRoot  .album {
        height: 100%;
        
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: auto;


        width: 33%;

        margin-right: 0.3333%;

        background-color: cornflowerblue;


        position: relative;
        z-index: 100;

        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .galleryRoot  .album > .imageWrapper {
        position: absolute;  
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;

        z-index: 100;
    }

    .galleryRoot  .album > .imageWrapper > img {
        height: 100%;
        width: 100%;
        object-fit: cover;

        
    }

    .galleryRoot  .album > .albumNameWrapper {
        flex-basis: 0;
        flex-grow: 6;
        flex-shrink: 0;

        width: 100%;

        z-index: inherit;

        display: grid;
        justify-items: center;
        align-items: end;
    }

    .galleryRoot  .album > .clickForMoreWrapper {
        flex-basis: 0;
        flex-grow: 4;
        flex-shrink: 0;

        width: 100%;

        z-index: inherit;

        display: grid;
        justify-items: center;

    }

    .galleryRoot  .album > .albumNameWrapper > .albumName {

        color: white;
        font-weight: bold;
        font-size: x-large;

        margin-bottom: 20px;

    }

    .galleryRoot .album > .clickForMoreWrapper > .clickForMore {

        margin-top: 10px;

        width: fit-content;
        height: 35px;
        padding-left: 10px;
        padding-right: 10px;

        /* color: white; */
        

        display: grid;
        align-items: center;
        justify-items: center;

        border-style: solid;
        border-width: 1px;
        border-color: white;

        color: white;
        font-size: small;

        text-decoration: none;

    }

    .galleryRoot  > .arrowForwardIconWrapper {
        position: absolute ; /* gobal document is the relative*/
        z-index: 200;

        top: 50%;
        right: 3%;
        width: 30px;
        height: 30px;

        opacity: 0.5;

        display: grid;
        align-items: center;
        justify-items: center;

        background-color: black;
    }

    .galleryRoot  > .arrowBackIconWrapper {
        position: absolute ; /* gobal document is the relative*/
        z-index: 200;

        top: 50%;
        left: 3%;
        width: 30px;
        height: 30px;

        opacity: 0.5;

        display: grid;
        align-items: center;
        justify-items: center;

        background-color: black;
    }


    /* ***************** hover actions ******************** */
    .galleryRoot .album > .clickForMoreWrapper > .clickForMore:hover {
        background-color: white;
        color: black;
    }

    .galleryRoot  .album:hover .imageWrapper > img {
        opacity: 0.8;

        filter: brightness(.6);
    }

}



