/* ******************** small device******************* */
@media only screen and (max-width: 600px) {

    .smallDeviceViewRoot {
        width: 100%;
        height: 100%;

    }

    .smallDeviceViewRoot .panelWrapper {
        width: 100%;
        height: 100%;
    }

    .smallDeviceViewRoot .chatAreaWrapper {
        width: 100%;
        height: 100%;
    }

}



/* ******************** large device******************* */
@media only screen and (min-width: 600px) {



}
