
/*
_________________________________________________________________________________________________________________________________________________ 

    small device 
_________________________________________________________________________________________________________________________________________________
*/
@media screen and (max-width: 600px) {

    .courseListViewRoot {
        width: 100%;
        height: fit-content;

        margin-bottom: 80px;

        display: grid;
        justify-items: center;

    }
    
    .courseListViewRoot > .wrapper {
        width: calc(100% - 2px);
        max-width: 1300px;
        min-height: 400px;

        display: flex;
        flex-direction: column;
        justify-items: center;

        overflow-x: hidden;

    }

    .courseListViewRoot > .wrapper > .topBar {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 60px;
        width: 100%;
        border-radius: 3px;

        display: flex;
        align-items: center;

        background-color: green;

    }

    .courseListViewRoot > .wrapper > .topBar > .search {
        flex-grow: 1;
        flex-shrink: 2;
        flex-basis: 100px;
        height: 35px;

        border-radius: 8px;

        display: flex;
        align-items: center;
    }

    .courseListViewRoot > .wrapper > .topBar > .search > .icon {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 40px;
        height: 100%;
        
        display: grid;
        align-items: center;
        justify-items: center;

    }


    .courseListViewRoot > .wrapper > .topBar > .search > input {
        flex-grow: 1;
        flex-shrink: 2;
        flex-basis: 0px;
        padding: 0px;
        margin: 0px;
        height: 35px;

        font-size: medium;
        padding-left: 10px;

        border-radius: 3px;

        border-width: 0px;
        border-style: none;
    }

    .courseListViewRoot > .wrapper > .topBar > .search > input:focus {
        outline: none;   
    }

    /* .courseListViewRoot > .wrapper > .topBar > .search > .enter {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 30px;
        height: 100%;

        display: grid;
        align-items: center;
        justify-items: center;

    } */

    .courseListViewRoot > .wrapper > .topBar  > .spacer {
        flex-grow: 6;
        flex-shrink: 16;
        flex-basis: 0px;

        height: 35px;

    }


    .courseListViewRoot > .wrapper > .topBar > .orderby {
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: 100px;
        height: 35px;
        
        background-color: red;

    }

    .courseListViewRoot > .wrapper > .contentList {
        width: calc(100% - 2px) ;
        height: fit-content;
        min-height: 400px;

        border-style: solid;
        border-width: 1px;
        border-color: green;
        border-radius: 5px;

        z-index: 10;
    }


    .courseListViewRoot > .wrapper > .pageIndexWrapper {
        width: 100%;
        height: 100px;

        overflow: hidden;

    }

    /* **************************  iframeStyle ****************************************** */

    .courseListViewRoot > .iframeStyle {
        height: calc(100vh - 0px); 
        width: 100vw;

        overflow: hidden;

        z-index: 1200;
        position: fixed;
        top:  0px;
        left: 0px;

        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;

    }

    .courseListViewRoot > .iframeStyle > .transparentBar{
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 50px;
        width: 100% ;

        opacity: 0;

        z-index: 1200;

    }

    .courseListViewRoot > .iframeStyle > .iframeBody {
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 0;
        width: 100%;

        display: grid;
        justify-items: center;
        align-items: center;

        background-color: black;

        z-index: 1200;
    }


}



/*
_________________________________________________________________________________________________________________________________________________ 

    large device 
_________________________________________________________________________________________________________________________________________________
*/
@media screen and (min-width: 600px) { 

    .courseListViewRoot {
        width: 100%;
        height: fit-content;

        margin-bottom: 80px;

        display: grid;
        justify-items: center;

        z-index: 10;

    }
    
    .courseListViewRoot > .wrapper {
        width: 80%;
        max-width: 1300px;
        min-height: 400px;

        display: flex;
        flex-direction: column;
        justify-items: center;

    }

    .courseListViewRoot > .wrapper > .topBar {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 60px;
        width: 100%;
        border-radius: 3px;

        display: flex;
        align-items: center;

        background-color: green;

        z-index: 10;

    }

    .courseListViewRoot > .wrapper > .topBar > .search {
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 300px;
        height: 35px;

        border-radius: 8px;

        display: flex;
        align-items: center;
    }

    .courseListViewRoot > .wrapper > .topBar > .search > .icon {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 60px;
        height: 100%;
        
        display: grid;
        align-items: center;
        justify-items: center;

    }


    .courseListViewRoot > .wrapper > .topBar > .search > input {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 0px;
        padding: 0px;
        margin: 0px;
        height: 35px;

        font-size: medium;
        padding-left: 10px;

        border-radius: 3px;

        border-width: 0px;
        border-style: none;
    }

    .courseListViewRoot > .wrapper > .topBar > .search > input:focus {
        outline: none;   
    }

    .courseListViewRoot > .wrapper > .topBar > .search > .enter {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 60px;
        height: 100%;

        display: grid;
        align-items: center;
        justify-items: center;

    }

    .courseListViewRoot > .wrapper > .topBar  > .spacer {
        flex-grow: 6;
        flex-shrink: 1;
        flex-basis: 0px;

        height: 35px;

    }


    .courseListViewRoot > .wrapper > .topBar > .orderby {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 100px;
        height: 35px;

        background-color: red;
        
    }

    .courseListViewRoot > .wrapper > .contentList {
        width: 100%;
        height: fit-content;
        min-height: 400px;

        border-style: solid;
        border-width: 1px;
        border-color: green;
        border-radius: 5px;
    }


    .courseListViewRoot > .wrapper > .pageIndexWrapper {
        width: 100%;
        height: 100px;

    }

    /* **************************  iframeStyle ****************************************** */

    .courseListViewRoot > .iframeStyle {
        height: calc(100vh - 0px); 
        width: 100vw;

        overflow: hidden;

        z-index: 1200;
        position: fixed;
        top:  0px;
        left: 0px;

        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;

    }

    .courseListViewRoot > .iframeStyle > .transparentBar{
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 50px;
        width: 100% ;

        opacity: 0;

        z-index: 1200;

    }

    .courseListViewRoot > .iframeStyle > .iframeBody {
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 0;
        width: 100%;

        display: grid;
        justify-items: center;
        align-items: center;

        background-color: black;

        z-index: 1200;
    }

}

