/* ******************** small device******************* */
@media only screen and (max-width: 600px) {
    .projectRepoRoot {
        height: 100%;
        width: 100%;
    }

}





/* ******************** large device******************* */
@media only screen and (min-width: 600px) {
    .projectRepoRoot {
        height: 100%;
        width: 100%;
    }

}



