*{
    margin: 0;
}




/* ******************** small device******************* */
@media only screen and (max-width: 800px) {

    .appRoot {
        width: 100%;
        height: fit-content;

        /* overflow-y: scroll; */
    }

    .appRoot .navigationNcontent {
        width: 100%;
        min-height: calc(100vh - 300px);

        display: flex;
        flex-direction: column;
    }

    .appRoot .navigationNcontent .navigationWrapper {
        width: 100%;
        height: 50px;

        flex-grow: 0;
        flex-shrink: 0;


    }

    .appRoot .navigationNcontent .contentWrapper {
        width: 100%;
        height: fit-content;
        
        flex-grow: 1;
        flex-shrink: 0;

    }

    .appRoot .footerWrapper {
        width: 100%;
        height: 300px;

        background-color: rgb(131, 94, 94);
    }


}



/* ***** large device **************************** */
@media only screen and (min-width: 800px) {

    .appRoot {
        width: 100%;
        height: fit-content;

    }

    .appRoot .navigationNcontent {
        width: 100%;
        min-height: calc(100vh - 300px);

        display: flex;
        flex-direction: column;

        z-index: 200;
    }

    .appRoot .navigationNcontent .navigationWrapper {
        width: 100%;
        height: 50px;

        flex-grow: 0;
        flex-shrink: 0;

    }

    .appRoot .navigationNcontent .contentWrapper {
        width: 100%;
        height: fit-content;
        
        flex-grow: 1;
        flex-shrink: 0;

        z-index: 100;

    }

    .appRoot .footerWrapper {
        width: 100%;
        height: 300px;

    }

}
